{% extends "base.t.html" %}
{% block content scoped %}

<div>
    <h4>Logs</h4>
    <table class="task_notes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Server</th>
            <th>Log Name</th>
            <th>Message</th>
        </tr>
        </thead>
        {% for log_entry in pager.items %}
        <tr>
            <td>{{ log_entry.id }}</td>
            <td>{{ log_entry.timestamp }}</td>
            <td>{{ log_entry.server }}</td>
            <td>{{ log_entry.log_name }}</td>
            <td>{{ log_entry.message }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% for page in pager.iter_pages(right_current=2, left_edge=1, right_edge=1) %}
            <span>
            {% if page %}
                {% if page != pager.page %}
                    <a href="{{ url_for('index', page=page, per_page=pager.per_page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <strong>...</strong>
            {% endif %}
            </span>
        {% else %}
            <span><strong>1</strong></span>
        {% endfor %}
    </div>
</div>
{% endblock %}