{% extends "base.t.html" %}
{% block content scoped %}

<div id="logs">
    <h4>Logs</h4>
    <table class="task_notes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Server</th>
            <th>Log Name</th>
            <th>Message</th>
        </tr>
        </thead>
        {% for log_entry in pager.items %}
        <tr>
            <td>{{ log_entry.id }}</td>
            <td>{{ log_entry.timestamp }}</td>
            <td>{{ log_entry.server }}</td>
            <td>{{ log_entry.log_name }}</td>
            <td>{{ log_entry.message }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="paginate-container">
    <div class="pagination">
        {% if pager.has_prev %}
            <a rel="prev" class="previous_page" href="{{ url_for('index', page=pager.prev_num, per_page=pager.per_page, server=server) }}">&lt;</a>
        {% else %}
            <span class="previous_page_disabled">&lt;</span>
        {% endif %}
        {% for page in pager.iter_pages(left_current=1, right_current=2, left_edge=1, right_edge=1) %}
            {% if page %}
                {% if page != pager.page %}
                    <a class="page" href="{{ url_for('index', page=page, per_page=pager.per_page, server=server) }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% else %}
                <span class="gap">…</span>
            {% endif %}
        {% else %}
            <span class="gap">1</span>
        {% endfor %}
        {% if pager.has_next %}
            <a rel="next" class="next_page" href="{{ url_for('index', page=pager.next_num, per_page=pager.per_page, server=server) }}">&gt;</a>
        {% else %}
            <span class="next_page_disabled">&gt;</span>
        {% endif %}
    </div>
    </div>
</div>
<div id="server_filters">
    <h5>Filter by:</h5>
    <form action="{{ url_for('apply_filters') }}" method="post">
    <table>
        <thead>
        <tr>
            <th>Server</th>
            <th>Log Name</th>
        </tr>
        </thead>
        {% for sl in izipl(all_servers, all_log_names) %}
            {% set s, ln = sl %}
            <tr>
                <td>{% if s %}<label><input type="checkbox" name="server_{{s|escape}}" {% if s in filter_servers %} checked {%endif%}>{{ s }}</label>{% endif %}</td>
                <td>{% if ln %}<label><input type="checkbox" name="log_name_{{ln|escape}}" {% if ln in filter_servers %} checked {%endif%}>{{ ln }}</label>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Apply Filters">
    </form>
</div>
{% endblock %}
