{% extends "base.t.html" %}
{% block content scoped %}

<div>
    <h4>Logs</h4>
    <table class="task_notes">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Server</th>
            <th>Log Name</th>
            <th>Message</th>
        </tr>
        </thead>
        {% for log_entry in log_entries %}
        <tr>
            <td>{{ log_entry.id }}</td>
            <td>{{ log_entry.timestamp }}</td>
            <td>{{ log_entry.server }}</td>
            <td>{{ log_entry.log_name }}</td>
            <td>{{ log_entry.message }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}